<%- include ('partials/header'); -%>

<div style="margin-left: 1%;">
    <a href="/signup">CREATE ACCOUNT</a>
    <br/>
    <a href="/login">LOGIN</a>
    <br/>
    <a href="/search">SEARCH</a>
    <br/>
    <a href="/search">INSERT</a>
    <br/>
    <a href="/update">UPDATE</a>
    <br/>
    <a href="/delete">DELETE</a>
    <br/>
    <a href="/exit">EXIT</a>
    <br/>
  </div>

<div class="container" id="search-field">
    <form class="form-inline my-2 my-lg-0" action="/search" method="POST">
        <input id="search-input" class="form-control mr-sm-2" type="search" name="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
      </form>
</div>

<div class="container list-spacer" id="search-results">
    <p> Enter a Table name to search: </p>
</div>

<div class="container list-spacer" id="search-results">

    <% for(var i = 0; i < result.length; i++) { %>
        <p>Table <%= i %> = <%= result[i] %> <a href="/inserts/<%= result[i] %>"> + [ Insert Here ]</a> </p>
    <% } %>

</div>

<style>
    #search-field {
        align-content: center;
        text-align: center;
        color: black;
        margin-top: 5%;
    }
    #search-input {
        max-width: 1000px;
        width: 1000px;
        
    }
    #search-results {
        text-align: center;
        align-content: center;
        margin: auto;
    }
    .list-spacer {
        margin-top: 5%;
    }
    
</style>

<%- include ('partials/footer'); -%>

